/* some style */

* {
  margin: 0;
  padding: 0;
}

/* Find a good font-family */
html {
  font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
}

.topnav {
  width: 100%;
  background-color: #F7F7F7;
  border-bottom: 1px solid #C8C8C8;
  padding-top: 2.5em;
}

.search-box {
  width: 100%;
  max-width: 590px;
  position:relative;
  margin: auto;
}

.search-box-input {
  width: 100%;
  padding-left: .75em;
  font-size: 1.1em;
  border: 1px solid #C8C8C8;
  border-radius: 3px;
  box-shadow: 0px 2px #E8E8E8;
  color: #333;
  display: block;
  position:relative;
  height: 44px;
}

.search-box-button {
  background-color:rgba(255, 255, 255, 0);
  border: none;
  bottom: 0;
  color: #C8C8C8;
  cursor:pointer;
  display: block;
  font-size: 1em;
  height: 44px;
  left: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: absolute;
  right: -0.75em;
  top: 1px;
}

.search-box-button:hover {
  color:#1AA824;
}

.search-filters {
  color: #666;
  display: block;
  text-transform: capitalize;
  display: inline-block;
  float: none;
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
}

.search-filters li {
  list-style: none;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  margin: 0 0.8em;
  font-size: 1.15em;
  height: 33px;
  cursor:pointer;
}

.search-filters .active {
  color: #de5833;
  border-bottom: solid 1px #de5833;
  font-weight: 600;
}

.bar {
  width: 100%;
  text-align:center;
  margin-top:1.5em;
  height: 33px;
}

.results {
  padding: 2em;
}

.results ul {
  list-style: none;
  overflow: hidden;
}

.results ul li {
  display: block;
  /* width: 100%; */
  /* max-width: 590px; */
  border: 1px solid #C8C8C8;
  /* margin: auto; */
  padding:0.5em;
  color: #333;
  margin-bottom:2em;
}

.item {
  border:none;
}

ul.search-container {
  align-items:stretch;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

ul.search-container li.search-container-item {
  align-self: center;
  background-color: #FEFEFE;
  max-width: 350px;
  min-width: 300px;
  padding-left: 1em;
  padding-right: 1em;
}

ul.item li {
  border:none;
  margin-bottom:0;
}

.item-section {
  font-weight: 600;
  text-transform: capitalize;
}

.item .title {
  font-size: 1.25em;
  font-weight: 600;
}

.loader-wrapper {
  position:relative;
  background-color: #F8F8F8;
  min-height: 100%;
  height: 100vh;
  width: 100%;
}

.loader-text {
  margin: auto;
  width: 50%;
  text-align:center;
  line-height: 100vh;
  color: #333;
  font-size: 3em;
}

ul.item li.actions {
  display:inline;
  padding:0;
}

ul.actions-list {
  padding: .5em;
  text-align: right;
  float: right;
}

ul.actions-list li {
  display:inline;
  padding:.25em;
}

li.action-link a {
  color: #333;
}

li.action-link a:hover {
  color: #1AA824;
}

li.action-save {
  color: #333;
}

li.action-save:hover {
  color: #1AA824;
  cursor:pointer;
}
